<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th style="width: 40%" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="onView(user)" class="btn btn-primary">View</button>
        <button (click)="onEdit(user)" class="btn btn-success">Edit</button>
        <button (click)="onDelete(user)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
